.organogram{
    align-items: center;
    max-width: 70vw;
    max-height: 58vh;
}
.huidige-situatie{
    display: flex;
    flex-wrap: wrap;
}
.indent-1{
    margin:0px 30px 0px;
}
.artikel{
    border-bottom: 2px solid lightgray;
    padding: 10px;
    margin: 10px;
}
.fotos{
    max-width: 50%;
}