.bg-img {
width: 100vw;
height: 25vh;
object-fit:cover;
z-index: 1;
}
.item{
    z-index: 2;
    position: absolute;
}
.card-img-top{
    height: 300px;
    object-fit:contain;
    }
.Image_Card{
    width: 100%;
    object-fit: fill;
}