/*
MARK: elementen
*/
img{
    display: block;
    padding: 20px;
    max-width: 100%;
    object-fit: contain;
}

a{
    color:black;
}

button {
    border-radius: 8px;
    background: #2b245b;
    color: white;
    transition: 1s;
}

button:hover{
    background: #0d6efd;
    transition: 1s;
}
/*
MARK: base classes
*/
.frond-page{
    height: 100vh;
    background: linear-gradient(to top right, #0d6efd 10%, #2b245b 60%);
    color:white;
}

.bg-platform{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
}

.informatie-blokken{
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: auto auto; 
    gap:10px;
}
.small {
    grid-row:1 / span 1;
  }
.big{
    grid-row: 1 / span 3;
}
.fill{
    grid-column: 1 / span 2;
}
/*
MARK: Logo
*/
#logo{
    max-width:5cm;
    max-height: 3cm;
    object-fit: contain;
    margin: 20px;
    filter:invert();
}